# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
/distribution/bin
/distribution/conf
/distribution/lib
server/*root.*
server/.root.*

# system ignore
.DS_Store
Thumbs.db
*.orig
*.class