# maven ignore
target/
*.jar
*.war
*.zip
*.tar
*.tar.gz
*.class
.flattened-pom.xml
dependency-reduced-pom.xml

# eclipse ignore
.settings/
.project
.classpath

# idea ignore
.idea/
*.ipr
*.iml
*.iws

# temp ignore
*.log
*.cache
*.diff
*.patch
*.tmp
/distribution/bin
/distribution/conf
/distribution/lib
/distribution/logs
/server/*root.*
/server/.root.*
/server/sessionStore/
/server/db_store/
/sessionStore/
/test/sessionStore/
/distribution/sessionStore/

# system ignore
.DS_Store
Thumbs.db
*.orig

#h2
*.db
