language: java
sudo: false # faster builds

jdk:
  - openjdk7

cache:
  directories:
    - $HOME/.m2

install: true

script:
  - mvn clean package
  - mvn cobertura:cobertura

after_success:
  - bash <(curl -s https://codecov.io/bash)